<div class="dsbh_p1">
  <h2> Minna no nihongo </h2>
  <p> Giáo trình sách Minnano Nihongo được đánh giá cao về tính chính xác và độ tin cậy. Có thể nói đó là giáo trình mà bất kì ai học tiếng Nhật từ sơ tới trung cấp đều học qua. Trang web Nihongo xin giới thiệu bộ giáo trình và cách sử dụng sao cho hiệu quả Mina sơ cấp . </p>
  <p> Giáo trình sách Minnano Nihongo gồm: </p>
  <li> Cuốn Honsatsu (Quyển chính) </li>
  <li> Cuốn bản dịch </li>
  <li> Cuốn bài tập Bunkei Renshuuchou </li>
  <li> Cuốn Hyoujun Mondaishuu </li>
  <li> Cuốn Shokyuude Yomeru Toliiku 25 </li>
  <li> Cuốn Choukai Tasuku 25 </li>
  <li> Cuốn Yasashii Sakubun </li>
  <h3> Danh sách bài học </h3>
  <ul>
    <li>
      <%= link_to "Bài 1: はじめまして", lesson_path(1) %>
    </li>
    <li>
      <a href="bai/2">
        <b> Bài 2: </b> ほんの気持ちです </a>
    </li>
    <li>
      <a href="bai/3">
        <b> Bài 3: </b> これをください </a>
    </li>
    <li>
      <a href="bai/4">
        <b> Bài 4: </b> そちらは何時から何時までですか </a>
    </li>
    <li>
      <a href="bai/5">
        <b> Bài 5: </b> 甲子園へ行きますか </a>
    </li>
    <li>
      <a href="bai/6">
        <b> Bài 6: </b> いっしょにいきませんか </a>
    </li>
    <li>
      <a href="bai/7">
        <b> Bài 7: </b> ごめんください </a>
    </li>
    <li>
      <a href="bai/8">
        <b> Bài 8: </b> そろそろ失礼します </a>
    </li>
    <li>
      <a href="bai/9">
        <b> Bài 9: </b> 残念です </a>
    </li>
    <li>
      <a href="bai/10">
        <b> Bài 10: </b> チリソースがありませんか </a>
    </li>
    <li>
      <a href="bai/11">
        <b> Bài 11: </b> これをお願いします </a>
    </li>
    <li>
      <a href="bai/12">
        <b> Bài 12: </b> お祭りはどうでしたか？ </a>
    </li>
    <li>
      <a href="bai/13">
        <b> Bài 13: </b> 別々にお願いします </a>
    </li>
    <li>
      <a href="bai/14">
        <b> Bài 14: </b> 梅田まで行ってください </a>
    </li>
    <li>
      <a href="bai/15">
        <b> Bài 15: </b> ご家族は？ </a>
    </li>
    <li>
      <a href="bai/16">
        <b> Bài 16: </b> 使い方を教えてください </a>
    </li>
    <li>
      <a href="bai/17">
        <b> Bài 17: </b> どうしましたか？ </a>
    </li>
    <li>
      <a href="bai/18">
        <b> Bài 18: </b> 趣味はなんですか </a>
    </li>
    <li>
      <a href="bai/19">
        <b> Bài 19: </b> ダイエットは明日からします </a>
    </li>
    <li>
      <a href="bai/20">
        <b> Bài 20: </b> 夏休みはどうするの？ </a>
    </li>
    <li>
      <a href="bai/21">
        <b> Bài 21: </b> 私もそうと思います </a>
    </li>
    <li>
      <a href="bai/22">
        <b> Bài 22: </b> どんなアパートがいいですか </a>
    </li>
    <li>
      <a href="bai/23">
        <b> Bài 23: </b> どうやって行きますか </a>
    </li>
    <li>
      <a href="bai/24">
        <b> Bài 24: </b> 手伝ってくれますか </a>
    </li>
    <li>
      <a href="bai/25">
        <b> Bài 25: </b> いろいろお世話になりました </a>
    </li>
  </ul>
</div>
