<div class="dd"><h3><a href="">Trang chủ</a> >> <a href="dsbh">Danh sách bài học</a> >><a href="bai/{{$id}}"> Bài </a> >>Luyện đọc</h3></div>
<div class="col-md-8 col-xs-12 ctbh dvm">
  <div class="">
    <audio controls style="width: 300px;">
      <source src="upload/docvanmau/{{$d->mp3docvanmau}}" type="audio/mpeg">
    </audio>    
  </div>  
  <div class="docvanmau">
    <p><b>Câu :</b> </p>
  </div>
</div>
