<div class="dd"><h3><a href="">Trang chủ</a> >> <a href="dsbh">Danh sách bài học</a> >><a href="bai/{{$id}}"> Bài  </a>>>Luyện nghe</h3></div>
<div class="col-md-8 col-xs-12 ctbh">
  <h3>Câu:</h3>
  <div class="">
    <audio controls style="width: 300px;">
      <source src="upload/luyennghe/{{$ln->mp3}}" type="audio/mpeg">
    </audio>    
  </div> 
  <div class="hinhbainghe">
    <img src="upload/luyennghe/{{$ln->hinh}}"/>
  </div>   
</div>
