<div class="dd"><h3><a href="">Trang chủ</a> >> <a href="dsbh">Danh sách bài học</a> >><a href=""> Bài</a>>>Từ vựng</h3></div>
<section>
  <div class="row">
    <div class="col-md-8 col-xs-12 ctbh">
      <div class="mp3tuvung">
        <audio controls style="width: 100%;">
            <source src="" type="audio/mpeg">
        </audio>
      </div>
      <div class="tuvung_pc">  
        <table class="table table-striped table-bordered table-hover data-table" id="database">
          <thead>
            <tr>
              <th>STT</th>
              <th>Hiragana</th>
              <th>Âm thanh</th>
              <th>Hán tự</th>
              <th>Nghĩa</th>
            </tr>
          </thead>
          <tbody>                          
            <tr class="odd gradeX">
              <td class="center"></td>
              <td class="center"></td>  
              <td class="center">
                <audio id="linkAudio" controls style="width: 200px;">
                    <source src="upload/tuvungtheobai/{{$t->amthanh}}" type="audio/mpeg">
                </audio>
              </td>     
              <td class="center"></td>  
              <td class="center"></td>  
            </tr>                                   
          </tbody>
        </table>
      </div>
      <div class="tuvung_sp">
        <table id="database_sp">
          <thead>
            <tr>
              <th>STT</th>
              <th>Hiragana</th>
              <th>Âm thanh</th>
              <th>Hán tự</th>
              <th>Nghĩa</th>
            </tr>
          </thead>
          <tbody>                      
            <tr class="odd gradeX">
              <td class="center"></td>
              <td class="center"></td>  
              <td class="center">
                <audio id="linkAudio" controls style="width: 55px;">
                  <source src="upload/tuvungtheobai/{{$t->amthanh}}" type="audio/mpeg">
                </audio>
              </td>     
              <td class="center"></td>  
              <td class="center"></td>  
            </tr>                             
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
